.App{
  height: 99vh;
  padding-top: 10px;
  background-color: #1b1b32;
  font-family: Lato, sans-serif;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center
  
}
.calculator-container{
  width : 400px;
  height: 600px;
  padding : 14px;
  background-color: #99c9ff;
  border-radius: 20px;
  border: 5px solid white;

}
.fila{
  margin : 4px;
  display: flex;
  justify-content: center;
  align-items: center
    
}