.container-button{
    height : 83px;
    display: flex;
    flex: 1 1;
    justify-content: center;
    align-items: center;
    font-weight : bold;
    font-size: 38px;
    background-color : #1b1b32;
    color : white;
    border-radius: 25px;
    border: 2px solid white;
    margin: 4px;
    cursor: pointer;
    user-select : none;

}
.operator{
    background-color : #00471b;

}
.container-button:hover{
    background-color : #5a01a7;
    color : yellow;

}
.operator:hover{
    background-color : #ff6600;
    color : brown;

}