.task-form{
    display: flex;
    flex-wrap : wrap;
    align-items: center;
    justify-content : center;
    
}
.input-task{
    width: 350px;
    font-size : 18px;
    background-color : white;
    padding: 14px 32px 14px 16px;
    border-radius: 4px 0 0 4px;
    border: 2px solid #00471b;
    outline: none;

}
.button-task{
    padding : 16px;
    font-size : 18px;
    font-family: Roboto, san-serif;
    border-radius: 4px 0 0 4px;
    border: none;
    cursor: pointer;
    outline: none;
    background: #00471b;
    color : white;
    text-transform: capitalize;
    
}