.task-container{
    width: 500px;
    min-height: 65px;
    background-color: #1b1b32;
    margin: 5px 0;
    padding: 8px 15px 8px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 7px;
    border: 1px solid white;
    cursor: pointer;

}
.task-container:nth-child(3n + 1){
    background-color: #1b1b32;

}
.task-container:nth-child(3n + 2){
    background-color: #343461;

}
.task-container:nth-child(3n + 3){
    background-color: #4d4d94;

}
.task-text{
    width: 100%;
    height: 100%;
    font-size: 20px;
    display: flex;
    align-items: center;
    overflow-wrap: anywhere;

}
.task-icon{
   width: 100%;
   height: 100%;
   margin: 5px;

}
.task-container.completed{
    background-color: #725801;
    text-decoration: line-through;

}
